/* GENERAL */

body {
    background-color: coral;     
}

.border {
   border: 1px solid black;
}

nav ul {
   display: flex;
}

nav ul li {
   list-style:none;
}
nav ul li a {
   color: white;
   text-decoration: none;
}
div.flex {
   display: flex;
}

div.flex div {
   width:20%;
}